@font-face {
    font-family: 'Kerox-NonCommercial';
    src: local('Kerox-NonCommercial'), url('./fonts/Kerox-NonCommercial.otf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: local('OpenSans-Light'), url('./fonts/OpenSans-Light.ttf') format('truetype');
}

a {
    text-decoration: none;
    transition: all .25s ease;
}

main {
    min-height: 70vh;
}

.navbar {
    box-shadow: 0 5px 15px 5px rgba(134, 134, 134, 0.2);
}

a:hover, .nav-link:hover, .nav-link:focus {
    color: #08ffff;
}

.h1-title {
    font-family: 'Kerox-NonCommercial', sans-serif; 
    letter-spacing: 15px;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: 1px 8px 5px #39255a;
    margin-bottom: 2rem;
}

.navbar-brand {
    font-family: 'Kerox-NonCommercial', sans-serif; 
    letter-spacing: 2.55px;
    text-shadow: 1px 5px 3px #39255a;
}

.zoom {
    border-radius: calc(.5rem - 1px);
    overflow: hidden;
}

.card-img {
    transition: all .7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.zoom {
    transition: all .5s ease;
}

.zoom:hover {
    box-shadow: 0 0 20px 0px #dda0dd;
}

.card-img:hover {
    transform: scale(1.55);
}

.card-body {
    font-family: 'OpenSans-Light', sans-serif;
    padding: 1.75rem 0rem;
}

.card-title {
    font-weight: lighter;
    text-transform: uppercase;
}

.rating {
    text-align: center;
}

.rating span {
    margin: 0.1rem;
}

h3 {
    padding: 1rem 0;
    text-align: center;
    font-weight: lighter;
}

.h3-title {
    letter-spacing: 5px;
}

.price {
    text-shadow: 1px 8px 5px #39255a;
}

.cart-subtitle {
    text-align: start;
    padding: 0.5rem 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.list-group {
    border-radius: 0 !important;
    backdrop-filter: none;
}

.list-group-item {
    color: #ffffff;
    border-radius: 0 !important;
    border: 1px solid rgba(249, 249, 249, 0.1) !important;
}

.loader-wrapper {
    margin: 5% auto; 
    text-align: center; 
}

.loader-wrapper p {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: 'Kerox-NonCommercial', sans-serif; 
    letter-spacing: 5px;
    color: #08ffff;
}

.loader-gif {
    height: 150px;
    width: 150px;
}

.select {
    border-radius: 0.5rem !important;
}

.select:focus, .select:hover {
    outline: none;
    border: 1px solid #dda0dd !important; 
    border-radius: 0.5rem; 
    box-shadow: inset 0 0 10px 0px #dda0dd;
}

.select {
    background-color: rgba(255,255,255,.1);
}

.select option {
    background-color: #e51b75;
}

.form-control {
    -webkit-appearance: menulist;
}

.go-back {
    text-decoration: underline;
}

.sign-in-title {
    text-align: center;
    padding: 0.5rem 0;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 7px;
}

.submit-btn {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.colored-text, .colored-text-link {
    color: #08ffff;
}

.enlarged-text {
    font-size: 1.3rem;
}

.table-sm>:not(caption)>*>* {
    padding: .25rem .65rem;
}

#image-file {
    padding: 5px;
}

/* Carousel */

.carousel-custom {
    margin-bottom: 2rem;
    border: 3px solid #dda0dd;
    border-radius: 6px;
    box-shadow: inset 0 0 20px 0px #dda0dd;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h3 {
    font-family: 'Kerox-NonCommercial', sans-serif; 
    letter-spacing: 3px;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: 1px 5px 3px #39255a;
    padding: 0;
}

.carousel-item img{
  height: 350px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.carousel-item a {
    border-radius: 6px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #dda0dd;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}


  


